@use 'variables' as *;

* {
}

body {
    overflow-x: hidden !important;
}

.dashboard-container {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    padding: 30px;
    flex-wrap: wrap;
}

.dashboard-left,
.dashboard-right {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    box-shadow: 2px 15px 22px rgba(0, 0, 0, 0.1);

    h3 {
        color: $colorParrafo;
        font-weight: bold;
        margin-top: 50px;
        font-size: 34px;
        position: absolute;
        transition: transform 0.3s ease; // animación suave
    }

    p {
        text-align: left;
    }
}

// Cuando el sidebar está abierto, movemos el h3
/*.sidebar-open .dashboard-right h3 {
    transform: translateX(-70px);
}*/


.dashboard-left {
    width: 40%;
    align-items: center;
}

.dashboard-right {
    width: 50%;

}

.dashboard-left h1 {
    width: 100%;
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.dashboard-left p {
    font-size: 1.2rem;
    color: $colorParrafo;
    margin-bottom: 20px;
}

.dashboard-right {
    align-items: center;
    text-align: center;

    #rightText {
        margin-top: 20px;
        text-align: center;
        color: $colorParrafoDashboardDerecho;
        font-style: italic;
    }

    p {
        width: 50%;
        font-size: 1.1rem;
        color: $colorParrafo;
    }



}

.dashboard-logo {
    align-self: flex-end;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-bottom: 20px;
}



/* Asegurarnos de que el contenedor del contenido ocupe el 100% del ancho */
#content {
    display: flex;
    flex-direction: column;
    height: 100%;
    /* Ocupa toda la altura de la ventana */
    width: 90%;
    padding-top: 60px;
    /* Espacio debajo del topbar */
}

/**.sidebar-container {
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
  }**/

.divMainContent {
    width: 85%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    p {
        font-size: large;
        color: $colorParrafo;

    }


    img {
        margin-top: 25px;
        width: 100px;
        height: 100px;
        border-radius: 50%;
    }


}

#div3 {
    margin-top: 20px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    text-align: center;
    box-shadow: 0px 4px 10px $primary-color;
    border-radius: 20px;
    background-color: white;

    h2 {
        color: $colorParrafo;
    }

    p {
        font-style: italic;
        margin: 10px 0;
    }

    .kanban-btn {
        width: 60%;
        background-image: linear-gradient(#22577A, #2C3E50);
        color: white;
        padding: 12px 20px;
        font-size: 16px;
        border: none;
        border-radius: 8px;
        margin-top: 10px;
        cursor: pointer;
        transition: background-image 0.3s ease, transform 0.3s ease, color 0.3s ease;

        &:hover {
            background-image: linear-gradient(#2C3E50, #22577A);
            transform: scale(1.05);
        }
    }

}


.main-content {

    width: calc(100% - 0px);
    padding: 20px;
    background-color: #f4f4f4;
    height: 100%;
    /* Asegura que se ajuste a la altura */
    z-index: 0;
    /*box-shadow: 0px 4px 10px $primary-color;*/

}

.main-content {
    padding: 20px;
    transition: margin-left 0.3s ease, width 0.3s ease;

    h1 {
        font-size: 50px;
    }
}

#content.shifted {
    width: calc(100% - 300px);

}


#sabermas {
    margin-bottom: 30px;
    width: 50%;
    text-align: start;

    a {
        font-weight: bolder;
        cursor: pointer;
    }

}


/*.top-navbar-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
  }*/

h1 {
    width: 50%;
    font-size: 2rem;
    color: #333;
}

#dashboardCarousel {
    visibility: hidden;

    border: 4px solid $primary-color;
    border-radius: 20px;    
    box-shadow: 0 2px 5px 2px $primary-color;
    max-width: 600px; /* o lo que quieras */
    margin: auto;
    overflow: hidden;
  }
  #dashboardCarousel.show-carousel {
    visibility: visible;
  }
  .carousel-inner {
    width: 100%;
    height: 300px; /* fija altura para evitar saltos */
  }
  
  .carousel-inner .carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
 