@use 'variables' as *;
@use 'sass:color';

#tituloKanban {
    align-self: center;
    margin: 0px;
    font-size: 2rem;
    color: $primary-color;
}

#kanban-list {
    background-color: rgba(214, 214, 214, 0.35);
    /* blanco con 85% opacidad */
    display: flex;
    flex-direction: row;
    margin: 50px;
    border-radius: 20px;
    overflow-x: auto;


    display: grid;
    grid-auto-flow: column; // Coloca elementos en columnas
    gap: 1rem; // Espacio entre las tarjetas
    height: 100%;
    padding: 2rem;

    &::-webkit-scrollbar {
        height: 10px;
    }

    &::-webkit-scrollbar-track {
        background: #f0f0f0;
        border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #4e73df;
        border-radius: 10px;
        border: 2px solid #f0f0f0;
    }

    &::-webkit-scrollbar-thumb:hover {
        background-color: #3b5ebd;
    }
}

/* Asegúrate de que las columnas estén alineadas horizontalmente */
#kanban-list {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    overflow-x: auto;
    width: 100%;
}

/* Las columnas se alinearán verticalmente dentro de un contenedor flex */
.kanban-column {
    display: flex;
    flex-direction: column;
    width: 250px;
    /* Ajusta el tamaño de las columnas */


    .task-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 10px;

        h3 {
            font-size: 1rem;
            font-weight: 600;
            margin: 0;
        }

        #menu-container {
            position: relative;
            display: flex;
            align-items: center;

            #icoTask {
                padding: 4px;

                &:hover {
                    color: $seventh-color;
                }
            }

            &:hover {
                cursor: pointer;
            }

        }
    }

}

.task-menu {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    /* Aquí se ajusta para pegarlo a la izquierda */
    background-color: white;
    border: 1px solid #ccc;
    list-style: none;
    padding: 8px 0;
    margin: 0;
    width: 150px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);

    li {
        transition: background-color 0.3s ease;
    }

    #eliminarLi {
        transition: background-color 0.3s ease;

        &:hover {
            background-color: rgba(255, 0, 0, 0.15);
        }
    }
}

.task-menu li {
    text-align: center;
}

.task-menu li {
    padding: 8px 16px;
    cursor: pointer;

}

.task-menu li:hover {
    background-color: #f0f0f0;
}


/* Asegúrate de que las tareas se alineen de manera ordenada en las listas */
.kanban-column-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: auto;
    max-height: 520px;
    padding: 10px;
    //height: calc(100vh - auto);  /* Ajuste de la altura de las listas */
}

/* Cada tarea será un item dentro de las listas */
.task-draggable {
    margin-bottom: 10px;
    cursor: pointer;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 15px;
    padding: 10px;
    transition: transform 0.2s ease;
    z-index: 0;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
    /* Asegura que las tareas están encima de otros elementos */
}

.kanban-column-content {
    min-height: 5px;
}

#crearLista,
#crearNodo {
    display: flex;
    height: 50px;
    align-items: center;
    background-color: $primary-color;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    #icoCrear {
        margin-right: 10px;
    }
}

#crearNodo {
    background-color: $third-color !important;
}

.crear-lista-container {
    position: relative; // Para que el popup se posicione relativo al botón
}

.listCreate-popup,
.modal-content {
    position: absolute;
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
    z-index: 1;
    top: 0;
    left: 0;
    /* Aquí se ajusta para pegarlo a la izquierda */
    width: 300px;
    opacity: 0;
    transform: translateX(-10px);
    /* Iniciar desplazado hacia la izquierda */
    transition: opacity 0.5s ease, transform 0.3s ease, z-index 0s 0.5s;
    /* Animación suave */

}

.fade-in {
    opacity: 1 !important;
    z-index: 10;
    transform: translateX(0) !important;
    transition: opacity 0.3s ease, transform 0.3s ease;
}


#divBotones {
    display: flex;
    flex-direction: row;

    justify-content: start;

    button {
        margin-right: 10px;
    }
}


.popup-arrow-create-List {
    position: absolute;
    top: -8px;
    /* Sale por arriba */
    left: 20%;
    /* Centrada horizontalmente */
    transform: translateX(-50%) rotate(45deg);
    /* Centrada y rotada para formar flecha */
    width: 16px;
    height: 16px;
    background: #fff;
    border-left: 1px solid #ddd;
    border-top: 1px solid #ddd;
    z-index: -1;
}

#crearLista:hover,
#crearNodo:hover {
    background-color: lighten($primary-color, 10%);
}


/* Estilos para el formulario de agregar tarea */
#add-task-form {
    display: flex;
    gap: 15px;
    margin-bottom: 20px;
}




/* Estilos para el Kanban */
.kanban-container {
    display: flex;
    gap: 20px;
    overflow-x: auto;
    padding: 20px 0;
    margin-bottom: 30px;

}

.kanban-column-content {
    background: #ffffff;
    border-radius: 6px;
    padding: 8px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}


.kanban-column {
    min-width: 250px;
    background-color: #fafafa;
    border-radius: 8px;
    padding: 10px;
    margin-right: 20px;
    width: 250px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    flex-shrink: 0;
    height: auto;

}

.kanban-task {
    background-color: rgb(216, 208, 208);
}

.kanban-column h3 {
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 15px;
}

.kanban-card {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    padding: 15px;
    margin-bottom: 15px;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.kanban-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.kanban-card__header {
    font-weight: bold;
    font-size: 1.1rem;
    color: #333;
    margin-bottom: 10px;
}

.kanban-card__content {
    font-size: 1rem;
    color: #555;
}

#tasks-list {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#kanban-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

#divForm {
    display: flex;
    flex-direction: row;
    padding: 10px;

    #task-summary {
        width: 50%;
        padding: 12px;
        font-size: 1rem;
        border: 1px solid #ccc;
        border-radius: 5px;
        outline: none;
        transition: border-color 0.3s ease;
    }

    #task-summary:focus {
        border-color: #4caf50;
    }

    button {
        max-width: 40%;
        padding: 0.5rem 1.2rem;
        border: none;
        border-radius: 6px;
        cursor: pointer;
        font-weight: bold;
        border: 1px solid lighten($seventh-color, 50%);

        font-size: 14px;
        padding: 6px 10px;
        cursor: pointer;
    }

}

.create-task-btn {
    width: 100%;
    background: #f0f0f0;
    border: none;
    padding: 10px;
    text-align: left;
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    border-radius: 4px;
    transition: background 0.2s;
}

.create-task-btn:hover {
    background: #e0e0e0;
}

.floating-task-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    left: 50px;
    top: 50px;
    background: white;
    padding: 12px;
    border: 1px solid #d0d0d0;
    border-radius: 6px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.floating-task-form textarea {
    position: relative;

    width: 100%;
    min-height: 60px;
    resize: vertical;
    padding: 8px;
    margin-bottom: 8px;
}

.form-actions {
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 8px;
}

.add-task-confirm,
.cancel-task {
    padding: 6px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.add-task-confirm,
.crear-lista-confirmar {
    background: $third-color;
    color: white;

    transition: background 0.25s ease-in-out;

    &:hover {
        background: darken($third-color, 10%);
    }
}

.cancel-task,
.crear-lista-cancelar {
    background: $secondary-color;
    color: white;

    transition: background 0.25s ease-in-out;

    &:hover {
        background: darken($secondary-color, 10%);
    }
}

.hidden {
    display: none;
}

#input-crear-lista-wrapper {
    display: flex;
    gap: 8px;
    align-items: center;
    margin-bottom: 200px;
}

#input-crear-lista-wrapper input.crear-lista-input {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 6px;
}

.crear-lista-confirmar,
.crear-lista-cancelar {
    padding: 5px 10px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

#tittleContainer {
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 40%;

    .input-editar-titulo {
        font-size: 24px;
        border: 1px solid $secondary-color;
    }

    i {
        margin-left: 20px;
        font-size: 20px;
    }

    h3 {
        font-size: 24px;

        text-align: left;
        margin: 0;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        // Se quería un difuminado al final del texto y se ha buscado por internet esta opción.
        mask-image: linear-gradient(to right, $primary-color 80%, transparent 100%); // https://lenguajecss.com/css/mascaras-y-recortes/mask-image/
        width: 80%;
    }
}

#hrBoard, #hrMindmap {
    width: 35%;
    margin: 0px;

    margin-left: 75px;
    background-color: $primary-color;
}




// POPUP EDITAR TAREA
#popupEditarTarea,
#popupEditarLista,
#popupEditarWorkspace,
#popupEditarBoard,
#popupEditarMindMap {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4); // fondo semi-transparente
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;

    #divTop {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        #tituloContainer {
            display: flex;
            align-items: center;
            flex-direction: row;
            width: 80%;

            i {
                margin-left: 10px;
            }

            h3 {
                font-size: clamp(0.8rem, 2vw, 1.5rem);
                color: $primary-color;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;

                // Se quería un difuminado al final del texto y se ha buscado por internet esta opción.
            }

        }

        #borrarButton {
            background-color: $deny-button;
            color: $white-button-color;

            padding: 0.5rem 1rem;
            border: none;
            border-radius: 6px;
            cursor: pointer;
            font-weight: bold;
            transition: background-color 0.10s ease-in;

            &:hover {
                background-color: darken($deny-button, 10%);

            }
        }
    }

    .listEdit-content {
        width: 35% !important;
        height: 40% !important;
    }


    .taskEdit-content,
    .listEdit-content {
        height: 100%;

        background-color: #fff;
        padding: 2rem;
        border-radius: 12px;
        width: 400px;
        height: 500px;
        animation: fadeIn 0.3s ease;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        position: relative;
        z-index: 99999;

        #inputLabel {
            color: $primary-color;
            font-weight: bold;
            margin: 0px;
        }

        #inputLabelActividad {
            color: $secondary-color;
            font-weight: 500;
            margin: 0px;
        }

        #listaSituada {
            color: $secondary-color;
            font-size: 12px;
        }

        #rolWorkspace {
            color: $secondary-color;
            font-size: 12px;

            margin: 0px;

            margin-top: -10px;
        }

        #hrEditarTarea {
            margin: 0px;
            background-color: $secondary-color;
        }

        #divDescrip {
            display: flex;
            flex-direction: row;

            i {
                margin-right: 10px;
                color: $primary-color;

            }
        }

        #divColor {
            display: flex;
            align-items: center;
            margin-top: 10px;

            #icoColor {
                color: $primary-color;
                margin-right: 10px;

            }



        }

        .selector-colores {
            padding: 10px;
            border-radius: 20px;
            box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);

            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 6px;
            margin-top: 10px;
        }

        .color-btn {
            width: 28px;
            height: 28px;
            border-radius: 50%;
            border: 2px solid transparent;
            cursor: pointer;
            outline: none;
            transition: transform 0.2s, border 0.2s;
        }

        .color-btn:hover {
            transform: scale(1.1);
        }

        .color-btn.active {
            border: 2px solid $white-button-color; // o tu color primario
        }


    }

    .taskEdit-content h3 {
        margin-top: 0;
        margin-bottom: 0;
        color: #1e2a39;
    }

    .taskEdit-content label {
        font-weight: 500;
        font-size: 0.95rem;
    }

    .taskEdit-content input,
    .taskEdit-content textarea {
        width: 100%;
        padding: 0.6rem;
        border: 1px solid #ccc;
        border-radius: 8px;
        font-size: 0.9rem;
    }

    .taskEdit-actions {
        position: absolute;
        bottom: 0;
        right: 0;

        display: flex;
        justify-content: flex-end;
        gap: 1rem;
        margin: 15px;

    }

    .taskEdit-actions button {
        padding: 0.5rem 1.2rem;
        border: none;
        border-radius: 6px;
        cursor: pointer;
        font-weight: bold;
    }

    .taskEdit-cancelar {
        background-color: $secondary-color;
        color: $white-button-color;
        transition: background-color 0.10s ease-in;

        &:hover {
            background-color: $primary-color;
        }
    }

    .taskEdit-confirmar {
        background-color: #4cb5ae;
        color: white;
        transition: background-color 0.10s ease-in;

        &:hover {
            background-color: $fourth-color;
        }
    }

    #taskEdit-cerrar {
        position: absolute;
        right: 1rem;
        top: 1rem;
        font-size: 1.1rem;
        cursor: pointer;
        color: #888;
    }

}

#popupEditarWorkspace, #popupEditarBoard, #popupEditarMindMap {
    .taskEdit-content {
        height: 400px;
    }
}


/* Estilos adicionales para el grid de tareas */
#tasks-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
    border-radius: 15px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    padding: 10px 12px;
}

.task-card {
    background-color: #fff;
    padding: 20px;
    margin: 20px 0;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  transition: opacity 0.5s ease, transform 0.3s ease, z-index 0s 0.5s;

}
.task-card:hover {
    opacity: 0.7;
    transform: scale(1.05);
    z-index: 10;
}
.task-card.move {
    transform: translateX(50px);
    opacity: 0.5;
}

.task-card h2 {
    margin-bottom: 20px;
}

.task-card form {
    display: flex;
    flex-direction: column;
}

.task-card input {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.task-card button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.task-card button:hover {
    background-color: #45a049;
}



// MIEMBROS en el kanban
.avatar-group {
    display: flex;
    align-items: center;
    gap: 0;
    margin-left: auto;
    padding-right: 20px;

}

.avatar-circle {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 2px solid white;
    object-fit: cover;
    margin-left: -10px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease;
    background-color: #fff;
}

.avatar-circle:first-child {
    margin-left: 0;
}

.avatar-circle:hover {
    transform: scale(1.1);
    z-index: 2;
}


.popup-content {
    background: white;
    padding: 20px;
    border-radius: 12px;
    width: 400px;
    max-height: 80vh;
    overflow-y: auto;
    position: relative;
}

.popup-close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 24px;
    cursor: pointer;
}

.user-row {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 12px;
}

.user-info {
    flex-grow: 1;
}



/* Ajustes para pantallas pequeñas */
@media (max-width: 768px) {
    #tituloKanban {
        font-size: 1.8rem;
    }

    #add-task-form {
        flex-direction: column;
        gap: 15px;
    }

    .kanban-container {
        flex-direction: column;
        align-items: center;
    }

    .kanban-column {
        width: 100%;
        margin-bottom: 20px;
    }
}