@use 'variables' as *;

* {
  user-select: none;
}

.top-navbar-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #EFEFEF;
  z-index: 1;
  width: 100%;
  height: auto;
  margin-left: 40px;
  z-index: 101;

  border-bottom: 1px solid #BBBBBB;
  transition: all 0.3s ease;
  padding: 0.5rem 1rem;
  overflow: hidden;

  &.top-navbar-compact,
  &.top-navbar-moved {
    width: calc(100% - 200px);
    margin-left: 280px;
    transition: width 0.3s ease, margin-left 0.3s ease;
  }
}

.top-navbar {
  margin-right: 100px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap; // para que los elementos bajen si no hay espacio
  gap: 1rem;

  .logo {
    display: flex;
    align-items: center;
    flex-shrink: 1;
    min-width: 0;
    width: 15%;

    img {
      width: 20%;
      margin-right: 5px;
      margin-left: 5px;
      -webkit-user-drag: none;
      flex-shrink: 0;
    }

    h1 {
      width: 50%;
      font-size: clamp(14px, 5vw, 20px);
      color: black;
      margin: 0;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;


    /*NO le afecta a los li que tienen iconos*/
    li:not(#user):not(#notif) {
      margin-top: 5px;
    }
    

    #user{
      border: 1px, solid , $colorUserIcon;
      width: 40px;
      text-align: center;
      border-radius: 80%;
      padding: 5px;

      a {

        text-decoration: none;
        color: $colorUserIcon;
        font-size: 18px;
        transition: color 0.3s;

        &:hover {
          color: lighten($colorUserIcon, 10%);
        }
      }
      i{
        width: 20px;
        height: 20px;
      }
      
    }

    #notif{
      border: 1px, solid , $colorUserIcon;
      width: 40px;
      text-align: center;
      margin-right: -40px;

      border-radius: 80%;
      padding: 5px;
      a {
        text-decoration: none;
        color: $colorUserIcon;
        font-size: 18px;
        transition: color 0.3s;

        &:hover {
          color: lighten($colorUserIcon, 10%);
        }
      }
      
    }

    li {
      margin-left: 50px;
      align-items: center;

      a {
        text-decoration: none;
        color: black;
        font-weight: bold;
        font-size: 16px;
        transition: color 0.3s;

        &:hover {
          color: lighten($colorUserIcon, 10%);
        }
      }
    }
  }
  hr {
    background-color: red;
    width: 100%;
    border: none;
    border-top: 1px solid #ccc;
    margin: 10px 0;
  }

}



//HOVER

