// _variables.scss
$primary-color: #1a2a3a;
$secondary-color: #4a6178;
$third-color: #22577A;
$fourth-color: #38A3A5;
$fifth-color: #83d9bf;
$sixth-color: #ffffff;
$seventh-color: #555;
$eigth-color: #afafaf;

$deny-button: #b65616;

$hrWorkspace-bc: #bcc8c9;

$white-button: #fff;

$white-button-color: #fff;
$dark-button-color: #000;

$button-bg: #1a2a3a;
$button-hover: #0d1b2a;
$button-forma1: #1a2a3a;
$button-forma2: #1a2a3a;
$button-enterWorkspace: #38A3A5;

$tittleColor: #34495E;

$colorSidebar: #333;

$colorDivDerecho: #ffff;

$colorEnlaceRegistro: #22577A;
$colorFondoBuscarInput: #38A3A5;
$colorBuscarInput: #ffff;

$colorNav: #22577A;
$colorTextoNav: #ffff;

$colorParrafoDashboardDerecho: #38A3A5;
$colorParrafo: #555;

$colorUserIcon: #22577A;

$colorH3Main: rgb(78, 78, 78);

$colorTarjetas: #EFEFEF;

$font-stack: 'Poppins', sans-serif;
$colorToggleBtn: #ffff;


$colorFondoMyWorkspaces: #EFEFEF;


//COLORS KANBANBOARD

$kanban-text-color: #34495E;

$kanban-color-1: #ABE2A5;
$kanban-color-2: #E2C5A5;
$kanban-color-3: #C5A5E2;
$kanban-color-4: #95a9df;
$kanban-color-5: #8fc7e0;
$kanban-color-6: #8dd5dd;
$kanban-color-7: #F0E795;
$kanban-color-8: #F0B795;
$kanban-color-9: #E2A5A5;
$kanban-color-10: #E2A5B2;
$kanban-color-11: #E2A5DF;

.kanban-color-1 {
    background-color: $kanban-color-1;
}

.kanban-color-2 {
    background-color: $kanban-color-2;
}

.kanban-color-3 {
    background-color: $kanban-color-3;
}

.kanban-color-4 {
    background-color: $kanban-color-4;
}

.kanban-color-5 {
    background-color: $kanban-color-5;
}

.kanban-color-6 {
    background-color: $kanban-color-6;
}

.kanban-color-7 {
    background-color: $kanban-color-7;
}

.kanban-color-8 {
    background-color: $kanban-color-8;
}

.kanban-color-9 {
    background-color: $kanban-color-9;
}

.kanban-color-10 {
    background-color: $kanban-color-10;
}

.kanban-color-11 {
    background-color: $kanban-color-11;
}

.mindmap-color-1 {
  border-color: $kanban-color-1;
  background-color: lighten($kanban-color-1, 20%);
}

.mindmap-color-2 {
  border-color: $kanban-color-2;
  background-color: lighten($kanban-color-2, 20%);

}

.mindmap-color-3 {
  border-color: $kanban-color-3;
  background-color: lighten($kanban-color-3, 20%);

}

.mindmap-color-4 {
  border-color: $kanban-color-4;
  background-color: lighten($kanban-color-4, 20%);

}

.mindmap-color-5 {
  background-color: lighten($kanban-color-5, 20%);
  border-color: $kanban-color-5;
}

.mindmap-color-6 {
  background-color: lighten($kanban-color-6, 20%);
  border-color: $kanban-color-6;
}

.mindmap-color-7 {
  background-color: lighten($kanban-color-7, 20%);
  border-color: $kanban-color-7;
}

.mindmap-color-8 {
  background-color: lighten($kanban-color-8, 20%);
  border-color: $kanban-color-8;
}

.mindmap-color-9 {
  background-color: lighten($kanban-color-9, 20%);
  border-color: $kanban-color-9;
}

.mindmap-color-10 {
  background-color: lighten($kanban-color-10, 20%);
  border-color: $kanban-color-10;
}

.mindmap-color-11 {
  background-color: lighten($kanban-color-11, 20%);
  border-color: $kanban-color-11;
}
