// _login.scss
@use 'variables' as *;

#content {
    display: flex;
    align-items: center;
    flex-direction: column;
    box-shadow: 1px 1px 10px $button-bg;

    position: relative;
    width: 70%;
    border-radius: 10px 0% 0% 10px;
    overflow: hidden;
}

main {
    width: 50%;
    height: 80%;
    padding: 40px;

    display: flex;
    flex-direction: column;
    align-items: center;

    justify-content: center;
    padding: 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;

    h1 {
        font-size: 56px;
        font-weight: 600;
        color: $primary-color;
    }

    h3{
        font-size: 18px;
        font-weight: 600;
        color: $colorH3Main;
    }

    h5{
        font-size: 16px;
    }

    p {
        color: $secondary-color;
        font-size: 18px;
    }

    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        width: 100%;
        
        margin: 15px 0;

        input {
            margin: 20px;
            width: 80%;
            height: 60%;
            padding: 12px;
            border: 1px solid #ccc;
            border-radius: 5px;
            font-size: 16px;
            box-shadow: 2px 2px 5px $button-bg;

            &:focus {
                outline: none;
                border-color: $primary-color;
            }
        }
    }

    button {
        width: 50%;
        height: 60px;
        padding: 12px;
        background-image: linear-gradient(#22577A,#2C3E50);
        color: white;
        font-size: 20px;
        font-weight: bolder;
        border: none;
        border-radius: 5px;
        box-shadow: 2px 2px 5px 2px $button-bg;

        cursor: pointer;
        margin-top: 10px;

        &:hover {
            background: $button-hover;
        }
    }

    .register {
        text-align: center;
        font-size: 14px;
        margin-top: 10px;

        a {
            color: $primary-color;
            font-weight: 600;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.divDerecho {
    position: relative;
    background-image: linear-gradient(#7BE6BE, #38A3A5, #22577A);
    z-index: 1;
    padding: 20px;
    border-radius: 0% 5% 5% 0%;
    box-shadow: 1px 1px 10px $button-bg;
    width: 30%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;

    h2 {
        font-size: 1.5em;
        color: $colorDivDerecho;
        margin-bottom: 10px;
    }

    p {
        font-size: 1em;
        color: $colorDivDerecho;
        margin-bottom: 20px;
    }
}

.background-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    opacity: 25%;
    border-radius: 5%;
}



.aMain {
    text-decoration: none;
    color: $colorEnlaceRegistro;
}

h5 {
    color: gray;
}