@use 'variables' as *;
@use 'sass:color';

* {
  user-select: none;
}

// Estilos generales del nav dentro del sidebar
nav.sidebar {
  overflow: hidden;

  background-color: $colorNav;
  padding: 20px;

  a {
    color: $colorTextoNav;
    text-decoration: none;
    margin-bottom: 15px;
    display: block;
    width: 100%;
    font-size: 18px;
    transition: 0.15s;
    user-select: none;



  }

  button {
    margin-top: 1rem;
    background-color: transparent;
    border: 1px solid $secondary-color;
    color: $secondary-color;
    padding: 0.5rem;
    cursor: pointer;


  }
}

/* Contenedor para sidebar y toggle */
.sidebar-container {
  position: relative;
  z-index: 200;
}

/* Sidebar (barra lateral izquierda) */
.sidebar {
  position: fixed;
  top: 0;
  left: -240px; // Oculta por defecto
  height: 100%;
  background-color: $colorSidebar;
  transition: left 0.3s ease;
  box-shadow: 2px 0 5px $secondary-color;
  z-index: 100;
  padding-top: 3rem;
  
}

.sidebar ul {
  list-style: none;
  padding-left: 0;
  margin-left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.sidebar ul li {
  transform-origin: top;
  transform: scaleY(1);
  transition: transform 0.3s ease, opacity 0.3s ease;
  opacity: 1;
  margin-top: 20px;
  margin-bottom: 20px;
}


.sidebar.open {
  left: 0;
}

#toggleBtn {
  position: fixed;
  top: 5px;
  left: 0.1rem;
  font-size: 30px;
  background: none;
  border: none;
  color: $colorToggleBtn;
  cursor: pointer;
  z-index: 999;
  transition: left 0.3s ease;

  i {
    font-size: 24px;
    margin: 5px;
  }
}

#hr1, #hr2{
  margin-left: 0;
  border-top: 1px solid #ccc;
  margin-top: 50px;
  opacity: 0%;
}
#hr2{
  margin-top: 210%;
}


#buscarLi {
  list-style: none;
  align-self: center;
  text-align: center;
  padding: 0;
  margin: 0;

  #buscarDiv {
    padding: 5px;
    background-color: $colorFondoBuscarInput;
    border-radius: 10px;
    width: 80%; /* Controlamos el ancho inicial */
    transition: all 0.3s ease;  // Aseguramos que el div tenga transición suave en todos sus aspectos

    i {
      width: 20px;
      color: #ccc;
      margin: 5px;
    }

    .buscar-input {
      width: 70%; /* Aseguramos que el input tome el 100% del div */
      padding: 10px;
      border: none;
      background-color: $colorFondoBuscarInput;
      color: $colorTextoNav;
      font-size: 15px;

      &::placeholder {
        color: darken($colorTextoNav, 10%);
      }

      &:focus {
        outline: none;
      }
    }
  }

  // Cuando el input recibe foco, expandimos el div suavemente
  //También se pone un fondo con un ligero toque a brillo
  .active #buscarDiv {
    padding: 15px;
    width: 80%;
    background-color: lighten($colorSidebar, 8%);
  }
}



#divDebajo{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
  position: fixed;
  bottom: 1px;
  width: 240px;

  transform-origin: bottom;
  transform: scaleY(1);
  opacity: 1;
  transition: transform 0.3s ease, opacity 0.3s ease;

  #logoutIco,
  #configIco{
    font-size: 26px;
    color: $colorTextoNav;
    margin: 10px;
    cursor: pointer;
    transition: transform 0.2s ease;

    &:hover {
      transform: scale(1.1);
      color: lighten($colorTextoNav, 15%);
    }
  }
  
}



/* Mover botón a la derecha cuando sidebar esté abierto */
.sidebar.open+#toggleBtn {
  left: 240px;
}

// Cuando el sidebar está abierto, mostramos los íconos
.sidebar.open #divDebajo {
  transform: scaleY(1);
  opacity: 1;
  pointer-events: auto;
}

// Cuando está cerrado, los ocultamos
.sidebar:not(.open) #divDebajo {
  transform: scaleY(0);
  opacity: 0;
  pointer-events: none;
}


/* Cuando el sidebar está cerrado */
.sidebar:not(.open) ul li {
  transform: scaleY(0);
  opacity: 0;
  pointer-events: none;
}



//HOVER

.sidebar ul li a:hover{
  color: lighten($colorFondoBuscarInput, 30%);
}

button:hover {
  background-color: color.scale($secondary-color, $lightness: -20%);
}

a:hover {
  color: color.scale($secondary-color, $lightness: 10%);
}

hr, #hr2:hover {
  color: color.scale($secondary-color, $lightness: 10%);

}

#buscarLi:has(input:focus) {
  #buscarDiv {
    padding: 20px; 
  }
}


@media (max-width: 600px) {
  nav.sidebar {
    display: none;
  }

  #toggleBtn{
    display: none;
  }
}