// _variables.scss
$primary-color: #1a2a3a;
$secondary-color: #4a6178;
$button-bg: #1a2a3a;
$button-hover: #0d1b2a;
$button-forma1: #1a2a3a;
$button-forma2: #1a2a3a;

$colorDivDerecho: #ffff;
$colorEnlaceRegistro: #22577A;
$colorH3Main: rgb(78, 78, 78);

$font-stack: 'Poppins', sans-serif;
