@use 'variables' as *;

* {
}


.workspaces-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 2rem;
}

.workspace-card {
  border: 1px solid lightgray;
  width: 300px;
  background-color: #f8f9fb;
  border-radius: 8px;
  box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  transition: transform 0.2s ease;
  margin: 10px;
}

.workspace-card:hover {
  transform: scale(1.02);
}

.workspace-card h3 {
  width: 80%;
  margin-top: 0;
  font-size: 1.3rem;
}

.workspace-card button {

}

#workspace-list {
  border-radius: 20px;
  background-color: lightblue;
  padding: 20px;
}
.workspace-menu {
  position: absolute;
  top: 24px;
  right: 0;
  background-color: white;
  border: 1px solid #ccc;
  list-style: none;
  padding: 8px 0;
  margin: 0;
  width: 150px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  z-index: 10;

  li {
    transition: background-color 0.3s ease; // Suaviza todos los li
  }

  #eliminarLi {
    transition: background-color 0.3s ease;

    &:hover {
      background-color: rgba(255, 0, 0, 0.15); // Un rojo suave semitransparente
    }
  }
}

.workspace-menu li{
  text-align: center;
}
.workspace-menu li {
  padding: 8px 16px;
  cursor: pointer;

}

.workspace-menu li:hover {
  background-color: #f0f0f0;
}

.menu-container {
  width: 10%;
  position: relative;
  cursor: pointer;
}

.hidden {
  display: none;
}

.workspace-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  h3 {
    font-weight: bolder;
    color: $tittleColor;
  }
}

#divActividad,
#divTableroInfo,
#divMentalMapInfo {
  display: flex;
  flex-direction: row;

}

#actividadIco {
  height: 20px;
  margin-right: 5px;
  color: $secondary-color;
}

#divTableroInfo,
#divMentalMapInfo {

  #icoTablero,
  #icoMentalMap {
    height: 20px;

    font-size: 20px;
    margin-right: 5px;
    color: $primary-color;
  }

  p {
    color: $primary-color;
    font-weight: bold;
    font-size: 14px;
  }
}


.actividad {
  font-size: 12px;
  width: 80%;
  color: $secondary-color;

}

#hrWorkSpace {
  background-color: $primary-color;
  margin-top: -5px;
  width: 75%;
  margin-left: 0;
}




.workspace-footer {

  margin-top: 10px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;

  #divRol {
    display: flex;
    flex-direction: row;
    background-color: $primary-color;
    border-radius: 15px;
    color: #fff;

    height: 40px;
    width: 50%;
    justify-content: center;
    /* Centra horizontalmente */
    align-items: center;
    /* Centra verticalmente */

    span{
      font-weight: bold;
    }

  }

  #divInfo {
    display: flex;
    align-items: center;
    flex-direction: row;
    height: 40px;
    width: 15%;
    p{
      margin-bottom: -5px;
    }
  
  }
  
  #icoInfo {
    color: $primary-color;
    height: 20px;
    font-size: 20px;
  
    margin-right: 5px;
  }

  #enter-btn{

    color: white;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;

    background-color: $button-enterWorkspace;
    height: 40px;
    border-radius: 15px;
  }

}